USE [MeetingRoomBooking]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 7/15/2019 7:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](255) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Position] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[Visible] [bit] NULL,
 CONSTRAINT [PK_Area_1] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 7/15/2019 7:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Position] [int] NULL,
	[Visible] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[UpdateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineRoom]    Script Date: 7/15/2019 7:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineRoom](
	[LineRoomID] [int] IDENTITY(1,1) NOT NULL,
	[LineRoomName] [nvarchar](255) NULL,
	[Content] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[TimeStart] [datetime] NULL,
	[TimeEnd] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateTime] [datetime] NULL,
	[NumberPerson] [int] NULL,
	[Posititon] [int] NULL,
	[RoomID] [int] NULL,
 CONSTRAINT [PK_LineRoom] PRIMARY KEY CLUSTERED 
(
	[LineRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 7/15/2019 7:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Seat] [int] NULL,
	[PhoneCall] [bit] NULL,
	[VideoCall] [bit] NULL,
	[Position] [int] NULL,
	[AreaID] [int] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateTime] [datetime] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[NumberPeople] [int] NULL,
	[Visible] [bit] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 7/15/2019 7:37:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NULL,
	[Visible] [bit] NULL,
	[Permission] [int] NULL,
	[Position] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[FullName] [nvarchar](255) NULL,
	[Mobi] [nvarchar](50) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[FacultyID] [int] NULL,
	[Roles] [bit] NULL,
	[UpdateTime] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([AreaID], [AreaName], [Avatar], [Description], [CreateTime], [UpdateTime], [Position], [CreateBy], [UpdateBy], [Visible]) VALUES (1, N'Cơ Sở 1-DKB', N'/Uploads/Images/7142019124330PM.jpg', N'Cơ sở 1: 530 Đại Lộ Bình Dương, P.Hiệp Thành, TP.Thủ Dầu Một, T.Bình Dương', NULL, CAST(N'2019-07-14 12:43:34.153' AS DateTime), NULL, NULL, N'Nguyễn Ngọc Sơn', 1)
INSERT [dbo].[Area] ([AreaID], [AreaName], [Avatar], [Description], [CreateTime], [UpdateTime], [Position], [CreateBy], [UpdateBy], [Visible]) VALUES (2, N'Cơ Sở 2-DKB', N'/Uploads/Images/7142019124353PM.gif', N'Cơ sở 2: 333 Đường Thuận Giao 16, P.Thuận Giao, TX.Thuận An, T.Bình Dương', NULL, CAST(N'2019-07-14 12:43:56.447' AS DateTime), NULL, NULL, N'Nguyễn Ngọc Sơn', 1)
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Avatar], [Description], [Position], [Visible], [CreateTime], [UpdateTime], [CreateBy], [UpdateBy]) VALUES (1, N'Khoa Đại Cương', N'/Uploads/Images/7142019124437PM.gif', N'Khoa đại cương trường đại học kinh tế kỹ thuật Bình Dương', NULL, 1, NULL, CAST(N'2019-07-14 13:06:09.167' AS DateTime), NULL, N'Admin')
INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Avatar], [Description], [Position], [Visible], [CreateTime], [UpdateTime], [CreateBy], [UpdateBy]) VALUES (3, N'Khoa Tài Chính-Ngân Hàng', N'/Uploads/Images/7142019124559PM.jpg', N'Khoa Tài Chính-Ngân Hàng trường đại học kinh tế kỹ thuật Bình Dương', NULL, 1, NULL, CAST(N'2019-07-14 12:46:00.220' AS DateTime), NULL, N'Nguyễn Ngọc Sơn')
INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Avatar], [Description], [Position], [Visible], [CreateTime], [UpdateTime], [CreateBy], [UpdateBy]) VALUES (4, N'Khoa Kỹ thuật-Công Nghệ', N'/Uploads/Images/7142019124631PM.jpeg', N'Khoa Kỹ thuật-công nghệ trường đại học kinh tế kỹ thuật Bình Dương', NULL, 1, NULL, CAST(N'2019-07-14 12:46:31.767' AS DateTime), NULL, N'Nguyễn Ngọc Sơn')
SET IDENTITY_INSERT [dbo].[Faculty] OFF
SET IDENTITY_INSERT [dbo].[LineRoom] ON 

INSERT [dbo].[LineRoom] ([LineRoomID], [LineRoomName], [Content], [Description], [Status], [TimeStart], [TimeEnd], [CreateBy], [CreateTime], [UpdateBy], [UpdateTime], [NumberPerson], [Posititon], [RoomID]) VALUES (72, N' Họp  giao ban của Ban giám hiệu', NULL, NULL, 1, CAST(N'2019-07-15 13:30:00.000' AS DateTime), CAST(N'2019-07-15 15:30:00.000' AS DateTime), N'sonit', CAST(N'2019-07-14 12:32:24.300' AS DateTime), NULL, NULL, 5, NULL, 1)
INSERT [dbo].[LineRoom] ([LineRoomID], [LineRoomName], [Content], [Description], [Status], [TimeStart], [TimeEnd], [CreateBy], [CreateTime], [UpdateBy], [UpdateTime], [NumberPerson], [Posititon], [RoomID]) VALUES (74, N'Họp sơ kết', NULL, NULL, 1, CAST(N'2019-07-01 13:30:00.000' AS DateTime), CAST(N'2019-07-01 15:30:00.000' AS DateTime), N'sonit', CAST(N'2019-07-01 12:32:24.300' AS DateTime), NULL, NULL, 5, NULL, 2)
INSERT [dbo].[LineRoom] ([LineRoomID], [LineRoomName], [Content], [Description], [Status], [TimeStart], [TimeEnd], [CreateBy], [CreateTime], [UpdateBy], [UpdateTime], [NumberPerson], [Posititon], [RoomID]) VALUES (75, N'Tổng kết, tập huấn', NULL, NULL, 1, CAST(N'2019-07-06 13:30:00.000' AS DateTime), CAST(N'2019-07-06 15:30:00.000' AS DateTime), N'sonit', CAST(N'2019-07-06 12:32:24.300' AS DateTime), NULL, NULL, 5, NULL, 3)
SET IDENTITY_INSERT [dbo].[LineRoom] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomName], [Avatar], [Description], [Seat], [PhoneCall], [VideoCall], [Position], [AreaID], [UpdateBy], [UpdateTime], [CreateBy], [CreateTime], [NumberPeople], [Visible]) VALUES (1, N'Phòng K101', N'/Uploads/Images/7142019104445AM.jpg', N'', 50, 1, 0, NULL, 1, N'Nguyễn Ngọc Sơn', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Room] ([RoomID], [RoomName], [Avatar], [Description], [Seat], [PhoneCall], [VideoCall], [Position], [AreaID], [UpdateBy], [UpdateTime], [CreateBy], [CreateTime], [NumberPeople], [Visible]) VALUES (2, N'Phòng K104', N'/Uploads/Images/7142019104641AM.jpg', N'', 25, 1, 1, NULL, 1, N'Nguyễn Ngọc Sơn', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Room] ([RoomID], [RoomName], [Avatar], [Description], [Seat], [PhoneCall], [VideoCall], [Position], [AreaID], [UpdateBy], [UpdateTime], [CreateBy], [CreateTime], [NumberPeople], [Visible]) VALUES (3, N'Phòng K105', N'/Uploads/Images/7142019105238AM.jpg', N'', 10, 1, 1, NULL, 1, N'Nguyễn Ngọc Sơn', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Room] OFF
INSERT [dbo].[User] ([UserID], [Password], [Visible], [Permission], [Position], [CreateBy], [CreateTime], [FullName], [Mobi], [Avatar], [Email], [FacultyID], [Roles], [UpdateTime], [UpdateBy]) VALUES (N'admin', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, NULL, NULL, NULL, NULL, N'Admin', N'', N'/Content/Images/nopic.png', N'admin@gmail.com', 5, 1, NULL, N'Admin')
INSERT [dbo].[User] ([UserID], [Password], [Visible], [Permission], [Position], [CreateBy], [CreateTime], [FullName], [Mobi], [Avatar], [Email], [FacultyID], [Roles], [UpdateTime], [UpdateBy]) VALUES (N'mrhieu', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, NULL, NULL, N'Nguyễn Ngọc Sơn', NULL, N'Lê Minh Hiếu', N'', N'/Uploads/Images/7142019124644PM.jpg', N'mrhieuit@gmail.com', 4, 1, NULL, N'Nguyễn Ngọc Sơn')
INSERT [dbo].[User] ([UserID], [Password], [Visible], [Permission], [Position], [CreateBy], [CreateTime], [FullName], [Mobi], [Avatar], [Email], [FacultyID], [Roles], [UpdateTime], [UpdateBy]) VALUES (N'quyenit', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', 1, NULL, NULL, N'	Nguyễn Ngọc Sơn', NULL, N'Nguyễn Văn Quyền', N'0972332803', N'/Uploads/Images/518201911252PM.jpg', N'vanquyenktktbd@gmail.com', 4, 1, NULL, N'Sơn Nguyễn.Hôk')
