
/*#region Commons */
.hide {
  display: none;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.border-right-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border-left-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*#endregion */

body {
  padding-bottom: 20px;
  background: transparent url(../Images/background.jpg) repeat top left !important;
}

.wrapper {
  background-color: #fff;
  background: transparent url(../Images/bg_white.png) repeat top left !important;
}

.wrapper-detail {
  background-color: #fff;
}


/*#region Header */


nav {
  background: #00a52c !important;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
   padding: .2rem !important;
}

#clock {
  color: #ffed8d !important;
  font: bold 20px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 10px;
}

.navbar .logo {
  height: 50px;
}

nav .nav-item .nav-link {
  border-radius: 4px;
  padding: 4px 10px;
  text-transform: uppercase;
}

nav .nav-item {
  margin-left: 10px;
}

  nav .nav-item.active .nav-link {
    background-color: #fff !important;
    color: #0088cc !important;
    font-weight: 500 !important;
  }

.router-link-active {
  background-color: #fff !important;
  color: #0088cc !important;
  font-weight: 500 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
}
/*#endregion */


/*#region List Room */
.listroom .meeting-group {
  box-shadow: 0 0 3px 0px rgba(156, 142, 142, 0.75);
  padding: 15px;
  margin: 10px auto;
  margin-right: 2px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  text-align: center;
  transition: all .3s ease-in-out;
  border-color: #d9d9d9;
}

.listroom .meeting-info {
  padding: 10px;
  background-color: #00a52c;
  border-radius: 10px 10px 0 0;
  border: 1px solid #b89379;
  text-align: left;
  border-bottom: 1px dashed #b89379;
}

.listroom .meeting-image {
  overflow: hidden;
  position: relative;
}

  .listroom .meeting-image img {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .listroom .meeting-image:hover {
    border: 1px solid #b89379;
    border-bottom: 1px dashed #b89379;
    cursor: pointer;
  }

    .listroom .meeting-image:hover img {
      transform: scale(1);
    }

.listroom .meeting-group .capacity {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px dashed #b89379;
  color: #999;
  font-size: 13px;
  font-weight: bold;
}

.listroom .meeting-group .descript {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 5px auto;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  padding: 0 30px;
  line-height: 30px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background: linear-gradient(to bottom,#fff 1%,#f3f3f3 100%);
}

.listroom .sortline {
  font-size: 12px;
  padding-top: 5px;
}

.listroom .meeting-group .lineaction {
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.listroom .meeting-info .name a {
  text-transform: capitalize;
  text-align: left !important;
  position: relative;
  color: #fff;
  font-size: 17px;
  font-family: 'Lobster',cursive;
}

.listroom .meeting-info .status .freetime a {
  color: #fff;
}

.listroom .meeting-info .status .freetime:hover a {
  color: #fffa1d;
}

.action-booking i {
  padding-right: 4px;
  color: #fffa00;
}

.detail-booking i {
  padding-right: 4px;
}

.action-booking:hover,
.detail-booking :hover {
  cursor: pointer;
}

.listroom .sortline .pline i {
  color: #ef7130;
  padding-right: 4px;
  font-size: 13px;
}

/*#endregion */

/*#region DetailBooking */
#detailBooking {
  text-align: center;
}

.seenimage img {
  width: 80%;
  border: 5px solid #8de0c7;
  border-radius: 6px;
}

.seentitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #b89379;
}

  .seentitle i {
    color: #e4a364;
    padding-right: 8px;
  }

.seeninfo .lines {
  padding-top: 10px;
}

  .seeninfo .lines b {
    font-weight: bold;
    color: #666;
  }


#detailBooking .mageplus img {
  width: 100%;
  max-height: 250px;
}

.box-content {
  text-align: left;
  margin: 20px auto;
  padding: 15px;
  font-size: 1pc;
  border: 1px solid #b89379;
}

#detailBooking .timeline {
  color: #f15e6e;
  font-weight: bold;
  padding-bottom: 6px;
}

#detailBooking .time {
  text-decoration: dotted;
  color: #001593;
  text-align: center;
  font-weight: bold;
  padding-bottom: 6px;
}

#detailBooking .memberinfo {
  padding: 10px;
  color: #525252;
  font-size: 14px;
  font-weight: bold;
}

#detailBooking .device {
  padding: 5px;
  color: #ff0000;
  font-weight: 500;
}

#detailBooking .amount {
  padding: 5px;
  color: #525252;
  font-size: 14px;
  font-weight: bold;
}

#detailBooking .content {
  padding: 5px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.bootstrap datetimepicker-widget {
  width: 100% !important;
}

.avatar-room img {
  border: 4px solid #17a2b8 !important;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.avatar-room .btn {
  position: absolute;
  top: 85%;
  left: 35%;
  width: 120px;
  font-size: 12px;
  transform: translateX(-50%) translateY(-50%);
}
/*#endregion */

/*#region Form Login */
.title-login {
  background: #00a52c !important;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-size: 17px;
  border-top-left-radius: .03125in;
  border-top-right-radius: .03125in;
}

.title-booking {
  background: #00a52c;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-size: 17px;
  border-top-left-radius: .03125in;
  border-top-right-radius: .03125in;
}
/*#endregion */

/*#region Responsive */
@media (max-width: 992px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

@media (max-width: 768px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

/*#endregion */

/*#region user */

.user {
}

  .user .user-name {
    color: #fff;
    font-weight: bold;
    padding: 0 10px;
    border-left: 1px solid #ccc;
  }

  .user .box-user {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  .user .box-user {
    padding: 3px 0;
    font-size: 14px;
  }

    .user .box-user a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }

  .user .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
/*#endregion */

/*#region Home */


/*#endregion */

.footer {
  padding: 20px;
  display: block;
  font: bold 10px Trebuchet MS;
  border-top: 1px solid #ddd;
}

.select2-selection--single {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#back-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
}

/*#region User */
.main-box {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  padding: 20px;
}


.table thead > tr > th span {
  padding: 5px;
  font-weight: normal;
}

.table tbody > tr > td:first-child, .table thead > tr > th:first-child {
  padding-left: 20px;
}

.table tbody > tr > td {
  font-size: 0.875em;
  background: #f5f5f5;
  border-top: 10px solid #fff;
  vertical-align: middle;
  padding: 12px 8px;
}

.user-list tbody td > img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
  border-radius: 50%;
}

.user-list tbody td .user-link {
}

.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}
/*#endregion */

/*#region datepicker */

.vdp-datepicker input {
  border-radius: 0 !important;
}

/*#endregion */

/*#region HeightChart */
.highcharts-label text,
.highcharts-axis-labels tspan {
  text-decoration: none !important;
}

.highcharts-drilldown-axis-label tspan {
  text-decoration: none !important;
}

/*#endregion */

/*#region Chart */
#container {
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

caption {
  padding-bottom: 5px;
  font-family: 'Verdana';
  font-size: 14pt;
  font-weight: bold;
  color: #555555;
}

tr {
  border-bottom: 2px solid #d9d9d9;
}

th {
  border-left: 2px solid #EEEEEE;
  border-right: 2px solid #EEEEEE;
  padding: 12px 15px;
  border-collapse: collapse;
}

  th[scope="col"] {
    background-color: #ffffee;
  }

  th[scope="row"] {
    background-color: #f0fcff;
    text-align: left;
  }

td {
  border-left: 2px solid #EEEEEE;
  border-right: 2px solid #EEEEEE;
  padding: 12px 15px;
  border-collapse: collapse;
}


/*#endregion */

/*#region Responsive */
@media (max-width: 1200px){

}


@media (min-width: 992px){

}

@media (max-width: 992px) {
  .avatar-room .btn {
    left: 50%;
  }


}

@media (max-width: 540px) {
  .avatar-room .btn {
    left: 42%;
  }

  .table thead > tr > th span {
    padding: 2px;
  }

}


/*#endregion */

